/*
0 - 600px:    Phone
600 -900px:   Tablet portriat 
900 -1200px:   Tablet landscape
[1200 - 1800] is whre our normal styles apply
1800px +:   Big desktop 


$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes scaleIn {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  color: #000; }

.heading-primary {
  color: #041a30;
  text-transform: uppercase;
  backface-visibility: hidden;
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .5rem; }
  @media (max-width: 56.25em) {
    .heading-primary {
      font-size: 1.8rem;
      letter-spacing: .1rem; } }
  .heading-primary--main {
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    display: inline-block;
    transition: all .3s;
    cursor: pointer;
    /*  animation-delay: 3s ; 
            animation-iteration-count: 3;
    
        */ }
    .heading-primary--main:hover {
      transform: rotate(3deg); }
  .heading-primary--seperator {
    margin-right: .5rem;
    display: inline-block;
    animation: moveInRight 1s ease-out;
    transition: all .3s;
    color: #f73030;
    cursor: pointer; }
    .heading-primary--seperator:hover {
      transform: translateY(-0.3rem); }

.heading-secondary {
  color: #041a30;
  text-transform: uppercase;
  backface-visibility: hidden;
  display: block;
  transition: all .3s;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: .5rem; }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 4.5rem;
      letter-spacing: .2rem; } }
  .heading-secondary--2 {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    display: inline-block;
    transition: all .3s;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: .5rem; }
    @media (max-width: 37.5em) {
      .heading-secondary--2 {
        font-size: 4.5rem;
        letter-spacing: .2rem; } }
    .heading-secondary--2:hover {
      transform: scale(1.2);
      color: #777; }
  .heading-secondary:hover {
    transform: scale(1.2);
    color: #0066cc;
    cursor: pointer; }

.heading-tertiary {
  color: #041a30;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: .2rem; }
  @media (max-width: 37.5em) {
    .heading-tertiary {
      font-size: 1.9rem;
      letter-spacing: .1rem; } }
  .heading-tertiary--white {
    color: #f73030;
    display: block;
    letter-spacing: .4rem; }

.heading-email {
  color: #041a30;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: .2rem; }
  @media (max-width: 56.25em) {
    .heading-email {
      font-size: .5rem;
      letter-spacing: .1rem; } }

.paragraph {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 160%;
  color: #c2c2c2; }
  @media (max-width: 37.5em) {
    .paragraph {
      font-size: 2.1rem; } }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }

.u-color-blue {
  color: #0066cc; }

.u-color-blue-dark {
  color: #061d35; }

.u-color-white {
  color: #fff !important; }

.u-color-secondary {
  color: #f73030; }

.u-background-color-blue {
  background-color: #041a30; }

.u-font-weight-400 {
  font-weight: 400; }

.u-font-weight-700 {
  font-weight: 700; }

.u-font-size {
  font-weight: 1.1rem !important; }

.u-center-text {
  text-align: center; }

.u-text-align-end {
  text-align: right; }

.u-margin-extrasmall {
  margin: 1rem; }

.u-margin-small {
  margin: 2rem; }

.u-margin-medium {
  margin: 8rem; }
  @media (max-width: 56.25em) {
    .u-margin-medium {
      margin: 6rem; } }

.u-margin-top-medium {
  margin-top: 8rem; }

.u-padding-bottom-medium {
  padding-bottom: 6rem; }
  @media (max-width: 56.25em) {
    .u-padding-bottom-medium {
      padding-bottom: 4rem; } }

.u-margin-left-small {
  margin-left: 1rem; }

.u-margin-left-medium {
  margin-left: 14rem; }

.u-margin-left-large {
  margin-left: 28rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-box-shadow-none {
  box-shadow: none !important; }

.u-footer-email {
  display: block;
  text-decoration: none;
  font-size: 3rem;
  text-transform: lowercase;
  font-weight: 700;
  color: #404040;
  transition: all .3s; }
  @media (max-width: 25em) {
    .u-footer-email {
      font-size: 2rem; } }
  .u-footer-email:hover {
    transform: translateY(-0.3rem) scale(1.03);
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    opacity: .8; }

.card {
  height: 52rem;
  background-color: #eee;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
  transition: all .4s;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  animation-name: scaleIn;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: .3s; }
  .card:hover {
    transform: translateY(-2rem) scale(1.05);
    background-color: #fff;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.6); }
    .card:hover .card__picture {
      opacity: 1; }
    @media (max-width: 56.25em) {
      .card:hover {
        transform: none;
        background-color: inherit;
        box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4); } }
  .card__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .card__picture {
    background-size: cover;
    background-position: center;
    height: 22rem;
    opacity: .8;
    transition: all .4s; }
    .card__picture--1 {
      background-image: url(../img/smart-brain.png); }
    .card__picture--2 {
      background-image: url(../img/crwn.png); }
    .card__picture--3 {
      background-image: url(../img/robofriends.png); }
    .card__picture--4 {
      background-image: url(../img/natours.png); }
    .card__picture--5 {
      background-image: url(../img/background-generator.png); }
  .card__heading {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2.3rem;
    font-weight: 400;
    letter-spacing: .2rem;
    text-transform: uppercase;
    text-align: center;
    color: #061d35;
    display: block; }
  .card__text {
    display: block;
    font-size: 1.8rem;
    margin: 1rem 2rem;
    font-weight: 300;
    text-align: center;
    height: auto; }
  .card__tech-used {
    text-align: center;
    margin: 2rem 0;
    font-size: 1.4rem;
    margin: 1rem 0; }
  .card__buttons {
    display: block;
    text-align: center; }

.btn {
  color: #000;
  display: inline-block;
  text-decoration: none;
  font-weight: 300;
  backface-visibility: hidden;
  transition: all .3s;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 1rem;
  display: inline-block;
  transition: all .2s;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 56.25em) {
    .btn {
      padding: .5rem .5rem; }
      .btn:hover {
        transform: none; }
      .btn:active, .btn:focus {
        transform: none; } }
  .btn:not(:last-child) {
    margin-right: 3rem; }
  .btn:hover {
    transform: translateY(-0.5rem); }
  .btn:active, .btn:focus {
    transform: translateY(0); }
  .btn__text:link, .btn__text:visited {
    color: #000;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    backface-visibility: hidden;
    transition: all .3s; }
  .btn__text:hover, .btn__text:active {
    color: #777;
    border-bottom: 1px solid rgba(247, 48, 48, 0.8);
    transform: scale(1.1); }
    @media (max-width: 56.25em) {
      .btn__text:hover, .btn__text:active {
        transform: none; } }
  .btn--card {
    border: 2px solid #f73030;
    color: #f73030;
    transition: all .2s;
    font-size: 1.4rem; }
    .btn--card--header {
      font-size: 1rem;
      border: 2px solid #f73030;
      color: #f73030; }
      @media (max-width: 56.25em) {
        .btn--card--header {
          border: 1px solid #f73030; } }
      .btn--card--header:hover {
        border: 2px solid #061d35;
        color: #061d35; }
        @media (max-width: 56.25em) {
          .btn--card--header:hover {
            border: 1px solid #f73030; } }
    @media (max-width: 56.25em) {
      .btn--card {
        border: 1px solid #f73030; } }
    .btn--card:hover {
      border: 2px solid #061d35;
      color: #061d35; }
      @media (max-width: 56.25em) {
        .btn--card:hover {
          border: 1px solid #f73030; } }

.skill-container {
  padding: 1rem;
  color: #c2c2c2;
  display: flex;
  justify-content: space-evenly;
  position: relative; }
  .skill-container ul {
    list-style: none; }
    .skill-container ul li {
      text-align: center;
      font-size: 2.5rem;
      font-weight: 400;
      padding: 1rem; }
      @media (max-width: 56.25em) {
        .skill-container ul li {
          font-size: 2.1rem; } }

.skill-set {
  display: inline-block; }

.education {
  display: block; }

.work-date {
  display: block;
  text-align: right;
  margin-top: -1rem;
  font-size: 1.6rem; }
  @media (max-width: 56.25em) {
    .work-date {
      font-size: 1.5rem; } }
  @media (max-width: 25em) {
    .work-date {
      margin-top: 0; } }

.education-date {
  font-size: 1.6rem;
  display: block;
  text-align: right;
  margin-top: -3rem; }
  @media (max-width: 56.25em) {
    .education-date {
      font-size: 1.5rem; } }

.social__content {
  width: 3rem;
  height: 3rem; }

.social__link {
  width: 100%;
  height: 100%; }
  .social__link-2 {
    display: none; }

.footer {
  background-color: #eee;
  padding-top: 3rem; }
  .footer__navigation {
    display: block;
    background-color: #041a30;
    text-transform: lowercase;
    text-decoration: none; }
    .footer__navigation ul {
      list-style: none; }
      .footer__navigation ul li {
        display: inline-block;
        margin: 1rem 2rem;
        transition: opacity .2s; }
        .footer__navigation ul li:hover {
          opacity: .8; }
        .footer__navigation ul li a {
          text-decoration: none;
          font-weight: 300;
          font-size: 2rem;
          color: #f73030; }
  .footer__list {
    text-align: center; }

.specialrow {
  max-width: 100%;
  margin: 0; }
  .specialrow:not(:last-child) {
    margin-bottom: 8rem; }
  .specialrow::after {
    content: "";
    display: table;
    clear: both; }
  .specialrow [class^="specialcol-"] {
    float: left; }
    .specialrow [class^="specialcol-"]:not(:last-child) {
      margin-right: 4rem; }
      @media (max-width: 56.25em) {
        .specialrow [class^="specialcol-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .specialrow [class^="specialcol-"] {
        max-width: 50rem; } }
  .specialrow .specialcol-1-of-3 {
    width: calc((100% - 2 * 4rem) / 3); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  background-color: #fff;
  width: 100%;
  height: fit-content;
  display: inline-block;
  padding: 0;
  position: fixed;
  z-index: 100; }
  .header::after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 56.25em) {
    .header {
      position: relative;
      margin-top: 3.5rem;
      text-align: center; } }
  .header__site-title {
    display: inline-block;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    padding: 0; }
  .header__navigation {
    font-size: 1.35rem;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
    position: absolute;
    padding: 0;
    top: 1.5rem;
    right: 2rem;
    color: #000;
    animation-name: fadeIn;
    animation-duration: 1s; }
    @media (max-width: 56.25em) {
      .header__navigation {
        float: none;
        width: 100%;
        padding-top: 2rem;
        display: block;
        top: 0;
        left: 0;
        background-color: #fff;
        position: fixed;
        text-align: center; } }
    @media (max-width: 37.5em) {
      .header__navigation {
        font-size: 1rem;
        float: none;
        width: 100%;
        top: 0;
        left: 0;
        font-weight: 400; } }
  .header__list {
    list-style: none;
    letter-spacing: .5rem; }
    .header__list:last-child {
      transform: translateY(-1rem); }
    .header__list-item {
      display: inline; }
      .header__list-item:not(:last-child) {
        margin: 0 1rem; }
        @media (max-width: 56.25em) {
          .header__list-item:not(:last-child) {
            margin: 0 .5rem; } }
  .header__social {
    display: inline-block;
    margin-left: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .2s;
    animation-name: fadeIn;
    animation-duration: 1s; }
    @media (max-width: 75em) {
      .header__social {
        display: none; } }
    .header__social:hover {
      transform: translate(-50%, -50%) scale(1.04); }

.section-projects {
  background-color: #eee;
  padding: 5rem 0; }
  @media (max-width: 56.25em) {
    .section-projects {
      padding: 3rem 0; } }
  @media (max-width: 37.5em) {
    .section-projects {
      padding-top: .5rem;
      padding-bottom: 2rem; } }

.section-about {
  background-color: #041a30;
  padding: 5rem 0; }
