.card {
    height: 52rem;
    background-color: $color-grey-3;
    box-shadow: 0 2rem 4rem rgba($color-black, .4);
    transition: all .4s;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    animation-name: scaleIn;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: .3s;

    @include respond(laptop) {
        &:hover {
            transform: translateY(-2rem) scale(1.05);
            background-color: $color-white;
            box-shadow: 0 2rem 3rem rgba($color-black, .6);
    
            .card__picture {
                opacity: 1;
            }
        }
    }
    
    &__content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }

    &__picture {
        background-size: cover;
        background-position: center;
        height: 22rem;
        opacity: .8;
        transition: all .4s;

        &--1 {
            background-image: url(../img/smart-brain.png);
            
        }

        &--2 {
            background-image: url(../img/crwn.png);
            
        }

        &--3 {
            background-image: url(../img/robofriends.png);
            
        }

        &--4 {
            background-image: url(../img/natours.png);
            
        }

        &--5 {
            background-image: url(../img/background-generator.png);
            
        }

    }

    &__heading {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 2.3rem;
        font-weight: 400;
        letter-spacing: .2rem;
        text-transform: uppercase;
        text-align: center;
        color: $color-blue-dark;
        display: block;

    }

    &__text {
        display: block;
        font-size: 1.8rem;
        margin: 1rem 2rem;
        font-weight: 300;
        text-align: center;
        height: auto;
        
    }

    &__tech-used {
        text-align: center;
        margin: 2rem 0;
        font-size: 1.4rem;
        margin: 1rem 0;
    }

    &__buttons {
        display: block;
        text-align: center;
    }

}