body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    // line-height: 1.7;
    color: $color-black;
    //padding: 2rem;

}

.heading-primary {
    color: $color-blue-2;
    text-transform: uppercase;
    backface-visibility: hidden;
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .5rem;

    @include respond(tab-port) {
        font-size: 1.8rem;
        letter-spacing: .1rem;
    }

    &--main {
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        display: inline-block;
        transition: all .3s;


        &:hover {
            transform: rotate(3deg);
        }

    }
    
    &--seperator {
        display: inline-block;
        animation: moveInRight 1s ease-out;
        transition: all .3s;
        color: $color-secondary;

        &:hover {
            transform: translateY(-.3rem);
        }
    }
}

.heading-secondary {
    color: $color-blue-2;
    text-transform: uppercase;
    backface-visibility: hidden;
    display: inline-block;
    transition: all .3s;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: .5rem;

    @include respond(phone) {
        font-size: 4.5rem;
        letter-spacing: .2rem;
    }

    &--2 {
        color: $color-white;
        text-transform: uppercase;
        backface-visibility: hidden;
        display: inline-block;
        transition: all .3s;
        font-size: 5rem;
        font-weight: 400;
        letter-spacing: .5rem;

        @include respond(phone) {
            font-size: 4.5rem;
            letter-spacing: .2rem;
        }

        &:hover {
            transform: scale(1.2);
            color: $color-grey-2;
        }
    }

    &:hover {
        transform: scale(1.2);
        color: $color-blue;
    }
}

.heading-tertiary {
    color: $color-blue-2;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: .2rem;

    @include respond(phone) {
        font-size: 1.9rem;
        letter-spacing: .1rem;
    }

    &--white {
        color: $color-secondary;
        display: block;
        letter-spacing: .4rem;
    }
}

.heading-email {
    color: $color-blue-2;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: .2rem;

    @include respond(tab-port) {
        font-size: .5rem;
        letter-spacing: .1rem;
    }


}

.paragraph {
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 160%;
    color: $color-grey-4;

    @include respond(phone) {
        font-size: 2.1rem;
    }

    &:not(:last-child) {
        margin-bottom: 2rem;
    }
    
}