
//COLORS
.u-color-blue { color: $color-blue; }
.u-color-blue-dark { color: $color-blue-dark; }
.u-color-white { color: $color-white !important; }
.u-color-secondary { color: $color-secondary; }

.u-background-color-blue { background-color: $color-blue-2;}


//TEXT
.u-font-weight-400 { font-weight: 400; }
.u-font-weight-700 { font-weight: 700; }

.u-font-size { font-weight: 1.1rem !important; }

.u-center-text { text-align: center; }

.u-text-align-end { text-align: right;}

//MARGINS AND PADDINGS

.u-margin-extrasmall { margin: 1rem; }
.u-margin-small { margin: 2rem; }
.u-margin-medium { 
    margin: 8rem; 
    @include respond(tab-port) {
        margin: 6rem;
    }
}

.u-margin-top-medium { margin-top: 8rem; }

.u-padding-bottom-medium { 
    padding-bottom: 6rem; 

    @include respond(tab-port) {
        padding-bottom: 4rem;
    }

}

.u-margin-left-small { margin-left: 1rem; }
.u-margin-left-medium { margin-left: 14rem; }
.u-margin-left-large { margin-left: 28rem; }

.u-margin-bottom-small { margin-bottom: 2rem !important; }

.u-box-shadow-none { box-shadow: none !important;}

.u-footer-email {
    display: inline-block;
    text-decoration: none;
    font-size: 3rem;
    text-transform: lowercase;
    font-weight: 700;
    color: $color-grey-1;
    transition: all .3s;

    @include respond(small-phone) {
        font-size: 2rem;
    }

    &:hover {
        transform: translateY(-.3rem) scale(1.03);
        text-shadow: 0 1rem 2rem rgba($color-black, .2);
        opacity: .8;
    }
}

