.section-projects {
    background-color: $color-grey-3;
    padding: 5rem 0;

    @include respond(tab-port) {
        padding: 3rem 0;
    }

    @include respond(phone) {
        padding-top: .5rem;
        padding-bottom: 2rem;
    }
}

.section-about {
    background-color: $color-blue-2;
    padding: 5rem 0;
}